// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;400&family=Ubuntu:wght@300;400;500&display=swap');

// Define fonts for body and headers
$body-font: 'Albert Sans', sans-serif;
$headers-font: 'Ubuntu', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
