<div class="mini-category-cards-container">
<i class="fa-solid fa-left-long arrow"></i>
  <div class="category-tab">
    <div class="category-icon-box">
      <i class="fa-solid fa-guitar"></i>
    </div>
    <div class="category-name">
     <p class="category-name-p">Guitars</p>
    </div>
  </div>
  <div class="category-tab">
    <div class="category-icon-box">
      <i class="fa-solid fa-drum"></i>
    </div>
    <div class="category-name">
     <p class="category-name-p">Drums</p>
    </div>
  </div>
  <div class="category-tab">
    <div class="category-icon-box">
      <i class="fa-solid fa-microphone-lines"></i>
    </div>
    <div class="category-name">
     <p class="category-name-p">Mics</p>
    </div>
  </div>
  <div class="category-tab">
      <div class="category-icon-box">
        <i class="fa-solid fa-radio"></i>
      </div>
      <div class="category-name">
       <p class="category-name-p">Radios</p>
      </div>
  </div>
   <div class="category-tab">
      <div class="category-icon-box">
        <i class="fa-solid fa-headphones"></i>
      </div>
      <div class="category-name">
       <p class="category-name-p">Audio</p>
      </div>
  </div>
   <div class="category-tab">
      <div class="category-icon-box">
        <i class="fa-solid fa-record-vinyl"></i>
      </div>
      <div class="category-name">
       <p class="category-name-p">Vinyls</p>
      </div>
  </div>
   <div class="category-tab">
      <div class="category-icon-box">
        <i class="fa-solid fa-chess-board"></i>
      </div>
      <div class="category-name">
       <p class="category-name-p">Boards</p>
      </div>
  </div>
   <div class="category-tab">
      <div class="category-icon-box">
        <i class="fa-solid fa-bullhorn"></i>
      </div>
      <div class="category-name">
       <p class="category-name-p">Horns</p>
      </div>
  </div>
   <div class="category-tab">
      <div class="category-icon-box">
        <i class="fa-solid fa-vault"></i>
      </div>
      <div class="category-name">
       <p class="category-name-p">DJ Gear</p>
      </div>
  </div>
   <div class="category-tab">
      <div class="category-icon-box">
        <i class="fa-solid fa-floppy-disk"></i>
      </div>
      <div class="category-name">
       <p class="category-name-p">Floppy</p>
      </div>
  </div>
  <i class="fa-solid fa-right-long arrow"></i>
</div>
