<footer class="site-footer mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h2>About Lendstruments</h2>
            <p class="text-justify">Made with <i class="fa-solid fa-heart"></i> on Planet Pluto.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h2>Contact</h2>
            <ul class="footer-links">
              <li>Email: lendstruments@pluto.com</li>
              <li>Phone: 555-5555</li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h2>Socials</h2>
            <ul class="footer-links">
            <a href="https://kitt.lewagon.com/"><i class="fa-brands fa-kickstarter-k"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-instagram"></i></a>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 Lendstruments Inc. All rights reserved</a>.
            </p>
          </div>
        </div>
      </div>
</footer>
