<div class="mini-category-cards-container">
  <div class="category-tab">
    <div class="category-icon-box">
      <i class="fa-solid fa-guitar"></i>
    </div>
    <div class="category-name">
     <p class="category-name-p">Guitars</p>
    </div>
  </div>
  <div class="category-tab">
    <div class="category-icon-box">
      <i class="fa-solid fa-drum"></i>
    </div>
    <div class="category-name">
     <p class="category-name-p">Drums</p>
    </div>
  </div>
  <div class="category-tab">
    <div class="category-icon-box">
      <i class="fa-solid fa-microphone-lines"></i>
    </div>
    <div class="category-name">
     <p class="category-name-p">Mics</p>
    </div>
  </div>
  <div class="category-tab">
      <div class="category-icon-box">
        <i class="fa-solid fa-radio"></i>
      </div>
      <div class="category-name">
       <p class="category-name-p">Radios</p>
      </div>
    </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<%= link_to "Items", items_path %>
