.bookings-card {
  display: flex;
  height: 200px;
  width: 600px;
  border-radius: 10px;
  border: solid;
  overflow: hidden;
}

.req-title {
  font-weight: bold;
}

.item-img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: solid;
}

.submit-edit-btn {
  background-color: $main-green;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: solid;
  font-weight: bold;
}

.bookings-card-details {
  line-height: 15px;
  width: inherit;

}

.status {
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
  margin: -.5rem;
  padding: 10px 10px 0px 8px;
  margin-bottom: 2px;
}

.owner {
  background-color: $main-green;
}

.borrower {
  background-color: $main-blue;
}

.item-img {
  height: 200px;
  width: 200px;
}
.req-and-owner {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.user-prof-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.item-owner-details {
  text-align: center;
}

.cancel-btn {
  padding: 8px;
  height: 40px;
  width: 75px;
  border: solid rgb(169, 166, 166);
  border-radius: 10px;
  font-weight: bold;
}

.accept-btn {
  height: 40px;
  width: 75px;
  background-color: $main-blue;
  border-radius: 10px;
  border: solid;
  font-weight: bold;
}

.submit-btn {
  height: 40px;
  width: 200px;
  background-color: $main-blue;
  border-radius: 10px;
  border: solid;
  font-weight: bold;
}

.reject-btn {
  height: 40px;
  width: 75px;
  border-radius: 10px;
  border: solid rgb(169, 166, 166);
  font-weight: bold;
}

.card-buttons {
  display: flex;
  gap: 16px;
}
