/*Card pick*/
.cards {
  display: flex;
  justify-content: space-between;
}

.card-pick {
  /*fixed*/
  // display: flex;
  // flex-direction: column;
  /*customizable*/
  height: 400px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
}
.card-pick img {
  /*fixed*/
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
  object-fit: cover;
  /*customizable*/
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}
.card-pick-info {
  /*customizable*/
  padding: 24px 16px;
}
.card-pick-info h2 {
  /*customizable*/
  margin: 0;
}
.card-pick:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
