.mini-category-cards-container {
  height: 70px;
  font-size: 13px;
  display: flex;
  font-family: ‘Albert Sans’, sans-serif;
}

.category-tab {
  height: 62px;
  margin: 12px;
  background-color: white;
  width: 65px;
  text-align: center;
  border-radius: 10px;
}

// switch this to active later on
.category-tab:hover {
  border-bottom: 5px solid $main-black;
  cursor: pointer;
}

.category-name-p {
  margin: 0px;
  font-weight: bold;
}
.category-icon-box {
 font-size: 22px;
}
