// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials (put components in index sass, not HERE)
@import "components/index";
@import "components/bookings_card";
@import "pages/index";
@import "pages/item-show";
@import "pages/login";

a {
  text-decoration: none;
  color: $main-black;
  :hover {
    color: $main-blue;
  }
}
